html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Trebuchet MS', sans-serif;
    background: #eceff3;
    overflow: auto;
}

#top-container {
    max-width: 1200px;
    width: 90%;
    margin: 2% auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #5d728f;
    margin: 0;
    flex-grow: 2;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: #8ea3c0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
}

button:hover {
    background: #5d728f;
}

#product-list  table,th,tr{
    border: 1px solid black;
    word-wrap: break-word
}


.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container button {
    margin: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea, input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #8ea3c0;
    font-size: 14px;
    color: #fff;
    appearance: none;
    outline: none;
    transition: background 0.2s;
    position: relative;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

#new-item-title, #new-item-price {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

#new-item-price {
    margin-right: 0;
}

#add-item-form button {
    width: 100%;
    margin-top: 15px;
}

#new-item-category {
    margin-bottom: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d8e0;
    padding-bottom: 10px;
}

.main-header {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
}

.header-center {
    justify-content: center;
}

.header-right {
    justify-content: flex-end;
}

#category-filter, #add-item-button, #init-button, #logout-button {
    margin: 0 10px;
}

#category-filter {
    width: 30%;
}

#bottom-container {
    max-width: 1200px;
    width: 90%;
    margin: 2% auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#button-grid button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #8ea3c0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    transition: background 0.2s;
    cursor: pointer;
}

#button-grid button:hover {
    background: #5d728f;
}

.search-modals button {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.search-modals select {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.review-tile{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    background-color: #5d728f;
    padding:5px;
    margin-bottom:5px;
    font-size: 15px;
    text-transform: capitalize;

}
.review-tile p{
    margin:0;
    padding:0;
}

.review-tile p:nth-child(1){
    font-weight: bold;
}

.review-tile p:nth-child(2){
    font-size: 13px;
}

#reviews-list{
    overflow: auto;
    text-align: left;
}



.review-tile p:nth-child(3){
    font-size: 13px;
}

