<!-- this file shows design of phase 3 req4 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase3-Test4</title>
    <link rel="icon" type="image/x-icon" href="./favicon.png">

    <style>
        html{
            background-color: #eceff3;
        }
        table tr,th,td{
            border:1px solid black;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Users That Posted The Most Items On A Specific date</h1>
        <h2>Date: <%=date%></h2>
        <table>
            <tr><th>USERS</th></tr>
            <%users.map((u)=>{%>
                <tr><th><%=u.USERNAME%></th></tr>
            <%})%>
        </table>
    </div>
</body>
</html>

